<ion-view title="تست جسارت">
  <ion-content>

<div class="content has-header">
   <div class="row row-center">
    <div class="col" id="beginbutton">
      <a href="#/start/1" class="button button-balanced">
        شروع
      </a>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
