<ion-view title="تست جسارت">
  <ion-content>

<div class="card">
    <div class="item item-text-wrap" id="text-description">
      <ion-scroll zooming="true" direction="y" style="height: 500px">
<p>
     پژوهشگران به این نتیجه رسیدند که مردها ماجراجوتر از زن ها هستند
.افراد جسور نیاز بسیار زیادی به تنوع دارند و می خواهند فعالیت های روزمره شان را تغییر دهند
.توانایی و ظرفیت هیجان در آن ها از حد متوسط بالاتر است و ملالت و کسالت برایشان مسئله ای همیشگی است.</p><p>
افراد ماجراجو و جسور از نشان دادن محبت و یا سایر احساسات در ملأعام خجالت می کشند و ابراز احساسات دیگران آن ها را شرمنده می کند.
این اشخاص تا حدود زیادی پوست کلفت هستند و بیشتر ترجیح می دهند اقدام به عمل کنند تا بروز احساسات و عواطف
.</p>
<p>افراد جسور بی طرفانه دنبال حرکت می گردند و برای رسیدن به خواسته های خود اقدام به مخاطره می کنند
فعالیت هایی که در نظر اشخاص عادی خطیر و پرمخاطره است، اقداماتی مانند کوهنوردی، موتورسیکلت رانی یا پرش با چتر نجات، از نظر افراد جسور حرکاتی نسبتا بی خطر ارزیابی می شود.</p>
<p>
اینکه تا چه اندازه جسور هستیم، با توجه به محیط و جامعه ای که در آن زندگی می کنیم تفاوت می کند.
ثابت شده است اشخاصی که با دیگران زندگی می کنند و به رفتارهای جسورانه تشویق می شوند، از کسانی که به تنهایی زندگی می کنند جسارت بیشتری دارند.</p><p>
همیشه در پیوستارهای انسانی افراطی هایی وجود دارند.
متخصصان زیست شیمی اشخاص بسیار ماجراجو را صاحبان آدرنالین زیاد می دانند، زیرا اینها اشخاصی هستند که به آدرنالین زیاد احتیاج دارند تا احساس رضایت  کنند.
 فشارهای خانوادگی نیز نقشی اساسی در جسور کردن اشخاص بازی می کند.
 در این میان مشخص نیست که عوامل طبیعی و طرز تربیت، کدام یک بیشتر در جسارت دادن به اشخاص نقش دارد.
با توجه به بررسی های انجام شده، والدینی که به فرزندان خود جسارت می دهند خود از جسارت فراوان برخوردارند، اما اگر فرزندان این خانواده ها جسور می شوند، به دشواری می توان گفت که نقش عوامل ارثی مهم تر بوده یا عوامل تربیتی و در نتیجه اکتسابی.
  </p>
</ion-scroll>
</div>

 </div>
<div class="row row-center">
    <div class="col end-button">
      <a href="#/" class="button button-assertive">
        پایان  </a>
    </div>
  </div>
  </ion-content>
</ion-view>
