<ion-view title="تست چاکرا">
  <ion-content>

<div class="content has-header">
   <div class="row row-center">
    <div class="col" id="beginbutton">
      <div class="col" id="">
          <div class="card" >
            <div class="item item-text-wrap home_text" id="text-description">
              <p class="chakra-home">
               همه ی ما در بدن خودمان 7 نقطه چاکرایی داریم. با جواب دادن به این سوال ها میفهمید که دارای کدام نوع چاکرا هستید .واقعا اونطور که هستین پاسخ بدین و دروغ تو کارتون نباشه
اگه واقعا نمیتونی جواب سوالی رو بدی اونو خالی بزار.
              </p>
              <br><br><br>
              <a href="#/start/1" class="button button-balanced">
                شروع
              </a>
            </div>
          </div>
      </div>
    </div>
   </div>
</div>

  </ion-content>
</ion-view>
