<div class="content has-header">

<div class="ui stackable page grid">
  <div class="row"><dov class="column">
    <div class="ui segment">

<div class="ui divided list">
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">New York City</a>
      <div class="description">A lovely city</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Chicago</a>
      <div class="description">A lovely city</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Los Angeles</a>
      <div class="description">A lovely city</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">San Francisco</a>
      <div class="description">A lovely city</div>
    </div>
  </div>
</div>

    </div>
  </dov></div>
</div>
</div>
