<ion-view title= "چاکراها">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap" id="text-description">

  <a href="">چاکرای اول</a>
  <br/>
  <a href="">چاکرای دوم</a>
  <br/>
  <a href="">چاکرای سوم</a>
  <br>
  <a href="">چاکرای چهارم</a>
  <br/>
  <a href="">چاکرای پنجم</a>
  <br/>
  <a href="">چاکرای ششم</a>
  <br/>
  <a href="">چاکرای هفتم</a>
  <br/>
</div>
</div>
      </ion-content>
</ion-view>
