<ion-view title="تست چاکرا">
  <ion-content  scroll="true">

      <div class="fcontainer">

        <div class="row fresult">
          <div class="col">
             <p class="present">حالا شما یک تصویر رنگ شده از 7 چاکرای خود را در پیش رو دارید بعضی از قسمت های آن رنگ شده است. با دیدن قسمت های رنگ شده خواهید فهمید که چند درصد از آن چاکراها در شما فعال است و قسمت هایی که خالی است نشانگر فعال نبودن انرژی در آن چاکرا است.</p>
          </div>
        </div>

      </div>
  </ion-content>


  <div class="bar bar-footer item-input-inset">
    <div class="col">
    <a href="#/description" class="button button-royal button-block">
      توضیحات
    </a>
    </div>
    <div class="col">
    <a href="#/" class="button button-energized  button-block">
      صفحه اصلی
    </a>
  </div>
  </div>


</ion-view>
