<ion-view title="تست جسارت">
  <ion-content  scroll="true">
    <div class="content has-header">
      <div class=" vcenter">

        <div class="row">
          <div class="col">
            <p class="present">{{results}}</p>
          </div>
        </div>
      </div>

      <div class="full-height vb">
        <div class="item">
          <div class="row ">
            <div class="col">
              <a href="#/description" class="button button-royal button-block">
                توضیحات
              </a>
            </div>
            <div class="col">
              <a href="#/" class="button button-energized  button-block">
                صفحه اصلی
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
