@font-face {
   font-family: "myfont";
   src: url("<%= font_path('DroidKufi-Regular.ttf') %>")  format('truetype');
}
html, body {
   height: 100%;
   width: 100%;
   font-family: "myfont" !important;
}

h1,h2,h3,h4,h5,button {
   font-family: "myfont" !important;
}


.button.button-positive {
   color: #fff;
   margin-top: 1em;
   position: relative;
   background-color: #D75A20;
   border: 2px solid #973609;
   border-radius: 1em;
}
.button.button-positive.activated {
   color: #fff;
   margin-top: 1em;
   position: relative;
   background-color: #D75A20;
   border: 2px solid #973609;
   border-radius: 1em;
}
h2.ques-h2 {
   font-size: 1em;
   height: 100%;
   min-height: 5em;
}
.item-text-wrap {
   background-color: #E9E7E7;
}

div#col-button {
   text-align: center;
}
bar.bar-calm {
   border-color: #C6E7CE;
   background-color: #298F00;
}
div#text-description {
   direction: rtl;
   height: 33em;
   min-height: 33em;
 }
div#text-description p {
   text-align: justify;
   color: black;
   font-size: 1em;
   padding: .5em;
}

div#beginbutton {
   text-align: center;
}
.sbutton.button-balanced {
   background-color: #FF542E;
   color: #fff;
   border: 1em double #FDFDFD;
   border-radius: 5em;
   min-height: 5em;
   margin-top: 15em;
}
.sbutton.button-balanced.activated {
   background-color: #FF542E;
   color: #fff;
   border: 1em double #FDFDFD;
   border-radius: 5em
}
div#col-result {
   text-align: center;
}
div#col-result p{
   font-size: 2em;
}
.sbutton.button-energized {
   &.return-btn {
      color: black;
      margin-top: 1em;
   }
   color: #fff;
   margin-top: 20em;
   position: relative;
   background-color: #D75A20;
   border: 2px solid #973609;
   border-radius: 1em;
}
.sbutton.button-energized.activated {
    &.return-btn {
      color: black;
      margin-top: 1em;
   }
   color: #fff;
   margin-top: 20em;
   position: relative;
   background-color: #D75A20;
   border: 2px solid #973609;
   border-radius: 1em;
}
.tabs {
   background-color: #5C6166;
}
a.tab-item {
   color: white;
}
.card {
   background: none;
}
div.end-button {
   text-align: center;
}
.sbutton.button-assertive {
   background-color: #FF542E;
   border-radius: 1em;
   width: 5em;
}
.sbutton.button-assertive.activated {
   background-color: #FF542E;

   border-radius: 1em;
   width: 5em;
}

.answers {
   position: absolute;
}

.present {
   font-size: 1em;
   text-align: right;
}
.full-height {
   height: 100%;
   //position: absolute;
}

.vcenter {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.vb {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
    -webkit-align-content: stretch;
   align-content: stretch;
   -webkit-box-align: end;
   -webkit-align-items: flex-end;
   align-items: flex-end;
   padding-top: 10em;
}

.vb .item {
   order: 0;
   flex: 1 1 auto;
   align-self: flex-end;
}

.fcontainer {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: stretch;
}

.fbottom {
   order: 1;
   flex: 0 0 auto;
   align-self: flex-end;
   //height: 100%;
}

.ion-log-out {
    padding-right: 2em;
}
